*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  --text-color: darkcyan;
  --header-color: lightcyan;
  --background-color: lightgray;
  --link-color: black;
  margin: 0;
}

*::selection {
  background-color: var(--text-color);
}

.header1 {
  padding-top: 1rem;
  text-align: center;
  background-image: linear-gradient(
    120deg,
    var(--text-color),
    var(--header-color)
  );
  position: relative;
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1.1em;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: "🦇";
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
}

body {
  background-color: var(--background-color);
}

h2 {
  color: var(--text-color);
}

.nav-link {
  padding: 0.25rem 0.5rem;
  color: var(--link-color);
  transition: background-color 0.8s ease-in-out;
}

.nav-link:hover {
  background-color: var(--background-color);
}

.nav-link:active {
  background-color: var(--background-color);
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-top: 0.125rem solid var(--text-color);
  padding: 0 1rem;
}

.main > *:first-child {
  border: none;
}

@media screen and (min-width: 768px) {
  .main-article {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.main-article-content {
  margin-top: 4rem;
}

.main-article-heading {
  position: relative;
  left: -1rem;
}
.experience-heading {
  display: inline-block;
  left: -1rem;
}

.experience-subheading {
  display: inline-block;
}

.hire {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0.5;
  background-image: linear-gradient(
    160deg,
    var(--header-color),
    var(--text-color)
  );
  color: var(--background-color);
  transform-origin: top right;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.header1:hover .hire,
.header1:focus-within .hire {
  opacity: 1;
  transform: scale(1.5);
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }

  .flex-container {
    display: none;
  }
}

.skilllist {
  margin-left: 1rem;
}

h2 {
  font-size: 1.2rem;
  font-style: oblique;
}

.footer {
  text-align: center;
  background-image: linear-gradient(60deg, lightcyan, darkcyan);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-text {
  font-size: 2rem;
}

.footer-link {
  font-size: 1.6rem;
  color: var(--link-color);
}