*,
*::before,
*::after {
  box-sizing: 0;
  font-family: "Caveat", cursive;
}

* {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
}

*::selection {
  background-color: lightblue;
}

header p::after {
  content: "🦇";
}
.header1 {
  padding: 3rem 1rem;
  padding-top: 2.5rem;
  text-align: center;
  background-color: lightcyan;
  position: relative;
}
.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1.1em;
}

.profession {
  font-size: 0.25em;
}
body {
  background-color: lightgray;
}

h2 {
  color: lightcyan;
}

.nav-link {
  padding: 4px 8px;
}

.nav-link:hover {
  background-color: rgb(181, 252, 252);
}

.nav-link:active {
  background-color: aqua;
}

.nav-link + .nav-link {
  margin: 16px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.main > * + * {
  margin-top: 48px;
}

.main > * {
  border-top: 2px solid white;
}

.main :first-child {
  border: none;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
  margin-left: 15px;
}

.hire {
  font-size: 1em;
  color: lightcyan;
  text-align: center;
  background-color: lightgray;
  border: 2px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 5px;
  position: absolute;
  top: 1.4rem;
  right: 2.5rem;
}

p,
h3 {
  padding-left: 1rem;
}

.skilllist {
  margin-left: 1rem;
}
