*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
}

*::selection {
  background-color: lightblue;
}

header p::after {
  content: "🦇";
}
.header1 {
  padding: 3rem 1rem;
  padding-top: 4.5rem;
  text-align: center;
  background-color: lightcyan;
  position: relative;
}
.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1.1em;
}

.profession {
  font-size: 0.25em;
}
body {
  background-color: lightgray;
}

h2 {
  color: lightcyan;
}

.nav-link {
  padding: 4px 8px;
}

.nav-link:hover {
  background-color: rgb(181, 252, 252);
}

.nav-link:active {
  background-color: aqua;
}

.nav-link + .nav-link {
  margin: 16px;
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-top: 0.125rem solid white;
  padding: 0 1rem;
}

.main :first-child {
  border: none;
}

.experience-heading {
  display: inline-block;
  left: -1rem;
}

.experience-subheading {
  display: inline-block;
}

.hire {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: lightgray;
  color: lightcyan;
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }
}

.skilllist {
  margin-left: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-style: oblique;
}
