#Zutaten {
  font-style: oblique;
  color: blue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
}

#rezepte {
  color: black;
  border-color: aqua;
  border-radius: 10px;
  font-family: initial;
}
