*,
*::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-image: url(https://i.pinimg.com/originals/9e/e8/a3/9ee8a3ef6ea432af5d76d615450d3228.jpg);
  background-size: 100;
}

.header {
  background-image: url(https://i.pinimg.com/originals/98/f1/e0/98f1e089e10b224a159a7fd103eb34c8.jpg);
  background-position: top;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.overhead {
  color: antiquewhite;
  display: flex; /* Demon Slayer*/
  justify-content: center;
  margin-bottom: -1rem;
}

.underhead {
  color: wheat;
  text-align: center; /*Kimetsu No Yaiba*/
  font-size: 0.75rem;
}

.article-hashira {
  display: inline-block;
  _border: 4px solid;
  font-size: 0.75rem;
}

.iframe {
  transform: translate(400px, 100px);
}
